docker.enabled = true

params {
    input = 'testdata/test_input_cloudos.csv'
    reference = 's3://eu-west-1-example-data/nihr/testdata/Homo_sapiens_assembly38.fasta'
    report_dir = "/opt/bin"
    // delete the actual files to save space in Github Actions
    pre_script = "df -h; ls -lh"
    post_script = "df -h; ls -lh > metadata.cram.txt; rm *.cram; rm *.crai"
    echo = true
}
